
html{
  font-size: 12px;
}

.headers {
	font-family: 'Arsenal';
	font-size: 2.5rem;
	text-decoration: none ;
	font-weight: bolder;
	color: #1095d3;
	margin-left: 5px; 
	margin-right: 5px;
}

.titulo{
  position: fixed;
  width:100%;
}

iframe{
 margin-bottom: 4px;
}

.title{
	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
	font-size: 7rem;
	font-family: Impact;
	color: #1dd326;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
  transition: color 2s ease;
}

.title:hover{
  color: red;

}

nav ul {
  list-style: none;
  background-color: #000d14;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 0px; 
  background-image: none;
}

nav li {
  font-family: 'Impact';
  font-size: 1.3em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
nav a {
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #005f5f;
}
 
  /* Option 1 - Display Inline */
 nav li {
    display: inline-block;	
  }

body{
 	background-image: url(back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	margin-right: 0px;
}

.chichendesc{
	font-family: Arial ;
  font-weight: bold ;
  margin-left: 5px;
  width:95%;
}


p{
 	color: #FFFFFF ;
 	font-size: 1.20rem;
 	margin-left: 2px; 
	margin-right: 2px;
	font-family: 'Arsenal';
}

table {
  color: #FFFFFF ;
  font-size: 1.3rem;
  border-spacing: 30px;
  justify-content: center;
}

th{
	color: #1095d3 ;
	font-size: 1.3rem;  
}

.picgallery{
    display:flex; 
    flex-flow: row wrap;
    justify-content:space-around;
}

.picgallery img {
    margin: 3px;
    border: 2px solid #000000;
    width: auto;
    height: 180px;
}

.picgallery img:hover {  
   border: 2px solid #FFFFFF; 
}

.form2{
  list-style-type: none;
}

input {
    border: 2px black;
    border-radius:6px;
    width: 20%;
    padding: 12px 20px;
    margin: 5px;
    box-sizing: border-box;
    width: 200px;
    transition: width .35s ease-in-out;
}

input:focus {
    outline:none;
    border:1px solid red;
    width: 300px;
  }

label{
  color: white ;

}

@media (max-width: 700px){
  .picgallery{
    display:flex; 
    flex-flow: column;
    justify-content:space-around;
  }

  .titulo{
    position: static;
  }

  .title{
    font-size: 3rem;
  }

  .picgallery img {
    margin: 1px;
    border: 1.5px solid #000000;
    width: 300px;
    height: 150px;
}

}















