
body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none; 
}

.navContainer{
    background-color: black;
    padding: 0px 90px 0px 90px ;
    color: white;
}

.navbar-right>li>a{
    display: inline;
    padding-left:0px;
}

.navbar-right .fa{
    padding: 15px 8px 15px 8px;
    font-size: 21PX;
    line-height:48px;
    font-weight: bolder;
}

.navbar-right:hover .fa, {
}  

.navbar-right{
    height: 78px;
}

.navbar .navbar-collapse {
    text-align: center;
    font-size: 20PX;
    font-weight: bold;
    margin-left: 1PX;
	margin-top:5px;
    margin-bottom: 5px;
}

.navbar-right .btn-separator:after{
    height: 30px;
    margin-top:25px;
}

.btn-separator{
	height: 20px;	
}

.telNavbarWeight{
    font-weight: normal;
}
.btn-separator:after {
    content: ' ';
    float: left;
    background: #ADADAD;
    height: 20px;
    width: 1px;
	margin-top:14px;
	background-color: white;
}
	
.navbar{
    margin-bottom: 0px;
	border:0px;
}

.navbar-inverse .navbar-nav>li>a {
   color: white; 
   line-height:47px;
}

.navbar-inverse .navbar-nav>li>a:hover {
   color: white;
}

.navImgPeke{
	max-width:100px;
	height:80px;
	margin-top:-12px;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 3em;
    margin: 0px;
    padding:0px 20px 20px 20px;
}	
	
.section2{
    background-color:#1a9eca/* #FF6F00*/;
    font-family: 'Roboto', sans-serif;
    color:white;
    padding: 35px;
}

.section3{
    background-color:#FF7D19/* #FF6F00*/;
    font-family: 'Roboto', sans-serif;
    color:white;
    padding: 35px 25px 35px 25px;
}

.sectionJugador{
    background-color:black/* #FF6F00*/;
    font-family: 'Roboto', sans-serif;
    color:white;
    padding: 35px 25px 35px 25px;
}

.section4{
    padding: 0px 0px 40px 0px;
    background-color:white;
}


.headerImg{
	height: 128px;
	width: auto;
	margin-left: -16px;
}

.pekeFooter{
    display: inline-block;
    background-color:black;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 8px 8px 8px 8px;
    line-height: 26px;
    margin-bottom: -10px;
}

.imgA{
  object-fit: cover;
}

.fa:hover{
    color: #FF7D19;
    text-decoration: none;
}

.contactos{
    color: white;
}

.contactos:hover{
    color: #FF7D19;
    text-decoration: none;
}

.footerTitle{
    font-weight: bolder;
}

.fa{
    color: white;
    font-size: 29px;
}

.fa-whatsapp, .fa-envelope-o{
    font-size: 22px;
}

.socialMedia{
    line-height: 40px;
}

.carruCont{
    width:100%;
    padding: 0px;
    height: auto;
    margin: 0px;
}

.carruRow{
    padding: 0px;
}

.carruImg{
    width: 100%;
    padding: 0px;
    height: 100%;
    max-height:875px;
    object-fit: cover;
}

.carruText{
    font-weight:700;
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

a.right.carousel-control , a.left.carousel-control {
    background-image: none;
}

.glyphicon-chevron-right , .glyphicon-chevron-left{
   color:rgb(3,202,253);
}

#gallery {
  padding: 0px;
  margin:0px;
}

.mosaic{
  margin:0px;
  padding: 0px;
}

figure {
    height: 700px;
    width: 300px;
    display: block;
    overflow: hidden;
    z-index: 100;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b;
}

.mosaic{
    margin: 0 auto;
    overflow: hidden;
}

.imgA{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
-webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mosaic:hover .imgA {
  -webkit-transform: scale(1.08);
  transform: scale(1.15);
}

.headerBox{
    background-color:black;
    color: white;
}


.textoSistema{
    padding: 30px 110px 30px 110px;
    margin-top:20px;
    text-justify: inter-word;
}







ul, menu, dir {
    -webkit-padding-start:0px;
}

span.text-content {
  background: rgba(0,0,0,0.3);
  color: white;
  display: table;
  height: 700px;
  position: absolute;
  top: 0;
  width: 476px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
