body, html{
    width:100%;
}

h1{
    font-family: 'Irish Grover', cursive;
    font-weight:700;
    font-size: 3em;
    margin: 0px;
    padding:0px 20px 20px 20px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        padding: 0px;
        background-color:white;
    }
    .navbar .navbar-collapse {
        text-align: center;
        padding: 0px;
        font-size: 20PX;
        font-weight: bold;
        margin-left: 1PX;
        font-family: 'Irish Grover', cursive;
        background-color:white;
    }
}

.navContainer{
    background-color:white;
}

.section2{
    background-color:#1a9eca/* #FF6F00*/;
    font-family: 'Irish Grover', cursive;
    color:white;
    padding: 25px;
}

.section3{
    background-color:#FF7D19/* #FF6F00*/;
    font-family: 'Irish Grover', cursive;
    color:white;
    padding: 35px 25px 35px 25px;
}

.section4{
    padding: 25px;
    color:#1a9eca;
    background-color:white;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a:hover {
   color: #FF7D19;
}

.navbar-default .navbar-nav>li>a {
   color: #00E1FF;
}

.navImgPeke{
	max-width:100px;
	height:45px;
	margin-top:-13px;
}

.headerBox{
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:15px;
}

.headerImg{
	height: 128px;
	width: auto;
	margin-left: -16px;
}

.pekeFooter{
    display: inline-block;
    list-style: none;
    font-family: 'Irish Grover', cursive;
    font-size: 20px;
    color: white;
    padding: 8px 8px 8px 8px;
    line-height: 26px;
    margin-bottom: -10px;
}

.fa{
    color: white;
    font-size: 29px;
}

.imgA{
    object-fit: cover;
  width: 350px;
  height: 350px;
}
.btnDiv{
    margin:auto;
}

.btn-default:hover{
    outline: none;
    border:none;
    background-color: #00E1Fe;;
}

.btn-default{
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    background-color: #1a9eca;
    height: 3rem;
    width: 12rem;
    border: none;
    padding: 0 0.5rem;
    font-family: 'Irish Grover', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.625rem;
    border-radius: 0.25rem;
    letter-spacing: 0.125rem;
    transition: all 0.3s ease;
}

.fa:hover{
    color: #FF7D19;
    text-decoration: none;
}

.contactos{
    color: white;
}

.contactos:hover{
    color: #FF7D19;
    text-decoration: none;
}

.fa-whatsapp, .fa-envelope-o{
    font-size: 22px;
}

.socialMedia{
    line-height: 40px;
}

.footerTitle{
    font-weight: bolder;
}

/*.carruContainer{
    padding:0px;
    padding:30px 0px 30px 0px;
    background-color: RGB(252, 252, 252);
}*/

.carruCont{
    width:100%;
    padding: 0px;
    height: auto;
    margin: 0px;
}

.carruRow{
    padding: 0px;
}

.carruImg{
    width: 100%;
    padding: 0px;
    height: 100%;
    max-height:650px;
    object-fit: cover;
}

.carruText{
    font-weight:700;
    font-size: 5em;
    font-family: 'Irish Grover', cursive;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}












a.right.carousel-control , a.left.carousel-control {
    background-image: none;
}

.glyphicon-chevron-right , .glyphicon-chevron-left{
   color:rgb(3,202,253);
}

#gallery {
  padding: 0px;
  margin:0px;
}

.mosaic{
  margin:0px;
  padding: 0px;
}

figure {
    height: 250px;
    width: 250px;
    display: block;
    overflow: hidden;
    z-index: 100;
}

figcaption {
    height: 250px;
    width: 100%;
    background: url(http://gridelicious.net/themes/treble/demo/assets/images/css/thumb_over.png) no-repeat center 150px black;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -500px;
    opacity: 0; 
    padding: 5px;
}

a:hover figcaption {
    opacity: 0.8;
    left: 0;
    color: #fff;
    transition: all 0.7s;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b;
}

.mosaic{
    margin: 0 auto;
    overflow: hidden;
}

.imgA{
  position: absolute;
  top: 0;
  left: 0;
-webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mosaic:hover .imgA {
  -webkit-transform: scale(1.08);
  transform: scale(1.15);
}

