
.whole{
  display: flex;
  flex-direction: column;
}

.hder{
	margin-right:25px;
  margin-bottom:30px;
  width:100%;
  margin-top: 2px;
  position:fixed;
}

.titlebar{
    display:flex; 
    flex-flow: row;
    justify-content:space-between;
    margin-bottom:0px;
    margin-top:-5px;
    padding:3px;
}

.iconsbar{
  padding: 10px; 
}

.fa{
  text-align: right;
  font-size: 30px;
  color: #e014ef;
  margin-top: 0px;
  padding:5px;
}

input {
    border-color:#e014ef;
    border-radius:12px;
    height:65%;
    padding:6px;
    margin-top:13px;
    margin-left:20px;
    width: 400px;
    transition: width .35s ease-in-out;
    background-color:white;
}

input:focus {
    outline:none;
    border-color:black ;
    background-color: white;
  }

.navegadores{
	width: : 100%;
	font-size: 52px;
	background-color: #01FF23;
	margin-top: -20px;
  margin-left:-24px;
  margin-right:24px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

a {
  color: #7d00aa;
  text-decoration: none; /* no underline */
  padding: 0.75px;
}

nav ul {
  list-style: none;
  margin-top: 0px; 
}

nav li{
	display: inline-block;
}

.nav1{
	width: : 80%;
	float:left;
  margin-top:0px;
}

.nav2{
	width: : 20%;
	float:right;
  margin-top:0px;
}

nav a {
  display: block;
  transition: 1.2s color;
  color:#960996;
  font-size: 25px;

}

nav a:hover {
  color: #8400d6;
}

.carousel{
  margin-top:50px;
}

.left carousel-control{
  opacity:0;
}

.left carousel-control{
  opacity:0;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
    color: black;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #e014ef;
}

.carousel-control {
    opacity: 0;
}

.carousel-inner{
  width:400px;
  margin:0 auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.right:hover {
  opacity: 0px
  }

#carousel-example-generic{
  margin-top:150px;
}

.carousel-caption{
  position: absolute;
  bottom: 40%;
  right:60%;
  z-index: 20;
  color: black;
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
  font-size: 35px;
  font-family: 'Clicker Script', cursive;
  color: #e014ef;
  font-weight:bold;
}

.smbar{
  float:right;
  margin-top:40px;
  margin-right:30px;
}

.glyphicon-chevron-left:before {
    content: "\e079";
    color:#e014ef;
}