@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        padding: 0px;
    }
    .navbar .navbar-collapse {
        text-align: center;
        padding: 0px;
        font-size: 20PX;
        font-weight: bold;
        margin-left: 19PX;
        font-family: 'Irish Grover', cursive;
    }
}

.navbar-default .navbar-nav>li>a:hover {
   color: red;
}

.navbar-default .navbar-nav>li>a {
   color: rgb(3,202,253);
}

.navImgPeke{
	max-width:100px;
	height:45px;
	margin-top:-13px;
}

.headerBox{
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.headerImg{
	height: 150px;
	width: auto;
	margin-left: -16px;
}

.pekeFooter{
    display: inline-block;
    list-style: none;
    font-family: 'Irish Grover', cursive;
    font-size: 20px;
    color: white;
    padding: 8px 8px 8px 4px;
    line-height: 30px;
}

.fa{
    color: white;
    font-size: 32px;
}

.fa:hover{
    color: red;
    text-decoration: none;
}

.telefono:hover{
    color: red;
}

.fa-whatsapp{
    font-size: 23px;
}

.socialMedia{
    line-height: 44px;
}


