.form-control{
	width:30%;
}

.navbar-inverse .navbar-nav>li>a{
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-brand{
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

body{
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

h1{
	font-weight:700;
	color: white;
	font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.searchBar{
	text-align: center;
}

.album{
	width:160px;
	height: 150px;
}

.albumName{
	font-weight: bold;
}

.resultsBox{
	text-align: center;
}

.hidden{
	display: none;
}
.resultsArea{
	display: flex;
    justify-content: space-between;
}